<!-- Creates the navigation bar based on how many posts there are and assigns a class of "currentpage" to each page on the navigation item that matches the page.title -->
<nav class="timeline">
	<h1 class="timeline-title">Transit Over Time</h1>
	<ol>
		{% for post in site.posts reversed %}
			{% if page.title == post.title %}
			<li>
				<a href="{{ site.baseurl }}{{ post.title }}" class="currentpage">
					<div>
						<p>
							{{ post.title }}
						</p>
					</div>
				</a>
			</li>
			{% else %}
			<li>
				<a href="{{ site.baseurl }}{{ post.title }}">
					<div>
						<p>
							{{ post.title }}
						</p>
					</div>
				</a>
			</li>
			{% endif %}
		{% endfor %}
	</ol>
</nav>