<nav class="timeline">
	<ol class="timeline-list">
		<li class="timeline-list-item">1954</li>
		<li class="timeline-list-item">1963</li>
		<li class="timeline-list-item">1966</li>
		<li class="timeline-list-item">1968</li>
		<li class="timeline-list-item">1974</li>
		<li class="timeline-list-item">1978</li>
		<li class="timeline-list-item">1980</li>
		<li class="timeline-list-item">1985</li>
		<li class="timeline-list-item">1996</li>
		<li class="timeline-list-item">2002</li>
		<li class="timeline-list-item">2017</li>
	</ol>
</nav>