/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	  box-sizing: inherit;
}
body {
 margin: 0;
 padding: 0;
 background-color: $background;
 overflow-x: hidden;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
	grid-template-columns: 4fr 2fr;
	grid-template-rows: 1fr;
	@include smallscreen {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr, 1fr;
	}
}

.mapbox {
  background-color: $background;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10fr;
	justify-items: stretch;
	align-items: stretch;
  height: auto;
	width: 100%;
}

.map {
	grid-row-start: 1;
	grid-row-end: 7;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	grid-row: auto;
	margin-left: -1em;
	margin-right: -1em;
}

.homepagetrains {
	width: 50%;
	min-width: 250px;
	padding: 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.map img{
	width: 100%;
	height: auto;
}

.timeline {
	position: relative;
	height: auto;
	margin-bottom: 2em;
	grid-row-start: 7;
	grid-row-end: 9;
}

.sidebar {
  background-color: $sidebar;
  height: 100vh;
	min-height: 100%;
	border-left: 0.6em solid;
	border-color: lighten($sidebar, 30%);
	overflow-y: auto;
	@include smallscreen {
		height: auto;
		border-left: 0;
		border-top: 0.6em solid;
		border-color: lighten($sidebar, 30%);
	}
}

.sidebar-divider {
	background-color: lighten($sidebar, 30%);
	padding: 0;
	margin-left: 5%;
  margin-right: 5%;
	margin-bottom: 1.4em;
	height: 0.2em;
}

.trainimg {
  margin: 0;
  margin-bottom: -10px;
  height: 100%;
  width: 70%;
	min-width: 230px;
	max-width: 350px;
}