/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	  box-sizing: inherit;
}
body {
 margin: 0;
 padding: 0;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
}

.mapbox {
  background-color: $background;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 9fr 1fr;
	justify-items: stretch;
	align-items: stretch;
  height: 100vh;
	width: 100%;
}

.map {
	height: auto;
}

.timeline {
	height: auto;
}

.sidebar {
  background-color: $sidebar;
  height: 100vh;
	border-left: 0.5em solid;
	border-color: lighten($sidebar, 30%);
}