.timeline-title {
  padding-bottom: 1.8em;
  margin: 0;
  font-family: $jost;
  font-weight: 400;
  font-size: 1.3em;
  text-align: center;
  color: white;

}

.timeline ol {
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0;
  margin-left: 6%;
  margin-right: 6%;
  color: white;
  background-color: lighten($sidebar, 30%);
}

.timeline a {
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0.8em;
  width: 0.8em;
  background-color: white;
  border-radius: 50%;
  box-shadow:
    0 0 0 4px $background,
    0 0 0 8px white,
}

.timeline a:after {
  position: absolute;
    top:-10px; bottom:-10px;
    left:-10px; right:-10px;
    background-color: blue;
}

.timeline a:hover{
  box-shadow:
    0 0 0 4px $ttcred,
    0 0 0 8px white,
}

.timeline p {
  position: relative;
    bottom: 2.1em;
  display: block;
  font-family: $jost;
  font-weight: 200;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
}