.page-title {
  font-family: $jost;
  font-size: 3em;
  margin-bottom: 0.2em;
  font-weight: bold;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.paragraph {
  font-family: $opensans;
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.3em;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}