/* Colours! */
$background: #1C1F2B;
$sidebar: #484b54;
$ttcred: #d33333;
$line1: #FFC014;
$line2: #2C9A45;
$line3: #009FDE;
$line4: #933D79;

/* Fonts! */
$jost: 'Jost*', 'Futura', sans-serif;
$opensans: 'Open Sans', 'Arial', sans-serif;
