<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
	<div class="container">
		<div class="mapbox">
			<div class="map">
				<div class="homepagetrains">
					<img src="img/homepage-trains.svg"/>
				</div>
			</div>
		</div>
		<aside class="sidebar">
			<main>
				<div>
					<h2 class="page-title">
						Transit Over Time
					</h2>
					<div class="sidebar-divider"></div>
					<div class="paragraph">
						{{ content }}
					</div>
				</div>
				</section>
			</main>
		</aside>
	</div>
</body>

</html>